body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, rgb(140, 16, 124), rgb(255, 12, 154));;
  font-size: 40px;
  margin: 0;
}

.pyramid {
  text-align: center;
  line-height: 1.5;
}

.row {
  white-space: nowrap;
}